<header>
    <div class="container">
        <img src = "favicon.ico" alt="">
        <a href="#" routerLink="/" class="logo" style="text-decoration: none; text-align: text;">Rare Rose Creations</a>
        <nav>
            <ul>
                <li>
                    <a href="#" routerLink="/" style="text-decoration: none;"> HOME</a>
                </li>
                
                <li>
                    <a href="#" routerLink="/cart-page" style="text-decoration: none;">CART </a>
                </li>
                <li>
                    <a href="#" routerLink="/login-page" style="text-decoration: none;" >LOGIN/SIGN-UP</a>
                </li>
            </ul>
        </nav>
    </div>
</header>



    

