
<body>
    <div class="contact-info">
        <h3>Contact Information</h3>
        <p>
          If you have any questions or inquiries, feel free to reach out to us:
          <br><br>
          Email: <a class="highlight-link">godrarerosecreations&#64;gmail.com</a>
          <br><br>
          Phone: <span class="highlight-link">123-456-7890</span>
          <br><br>
          FaceBook: <span class="highlight-link"> https://www.facebook.com/rarerosecreations.fb/</span>
          <br><br>
          Twitter: <span class="highlight-link"> https://twitter.com/rarerose_tweets</span>
          <br><br>
          Instagram: <span class="highlight-link"> https://www.instagram.com/rarerosecreations_insta/</span>
        </p>
      </div>
</body>
  
